*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  width: 100%;
}

h1 {
  font-size: 1.43em;
  font-weight: 500;
  color: #fff;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 15px;
  padding-bottom: 15px;
}

h2 {
  font-size: 1.29em;
  font-weight: 500;
  display: inline-block;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 25px;
  padding-bottom: 25px;
}

h4 {
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  color: #fff;
}

h3 {
  font-weight: 500;
  font-size: 1.14em;
  width: 20%;
  padding-left: 5%;
}

h5 {
  width: 15%;
}

h3, h5, h6 {
  padding-top: 25px;
  padding-bottom: 25px;
  display: inline-block;
}

h6 {
  font-weight: 300;
  padding-right: 5%;
  width: 15%;
  text-align: right;
}

.eta {
  padding-left: 5%;
  width: 20%
}

.line {
  width: 15%;
}

.destination {
  width: 45%;
}

.frequency {
  padding-right: 5%;
  width: 15%;
  text-align: right;
}

.status-bar {
  height: 24px;
  background-color: #02414f;
  width: 100%;
}

.status-icons {
  float: right;
  background-color: #02414f;
}

.page-title {
  background-color: #036176;
  box-shadow: 0px 4px 4px #aeaeae;
}

.down-caret {
  float: right;
  padding-right: 5%;
  padding-top: 22px;
}

.table-header {
  background-color: #02414F;
  box-shadow: 0px 4px 4px #aeaeae;
  position: relative;
}

.section-title {
  text-transform: uppercase;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 5%;
  background-color: #e0e0e0;
}

.bus-entry {
  border-bottom: 1px solid #e0e0e0;
}

.bus-entry-reroute {
  color: #b30000;
}

.bus-entry-out {
  border-bottom: 1px solid #e0e0e0;
  color: #737373;
}

.bus-entry-out h7 {
  color: #000;
}

footer {
  background-color: #000;
}

.nav-buttons {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
